.header-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px;
}

.list {
  display: flex;
  list-style-type: none;
}

.list > li {
  padding: 0 15px;
}

.btn-login {
  cursor: pointer;
}
